<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="test 1">
        <!-- В теге parameter указываем переменные и значения, которые добавлены в тесты -->
        <parameter name="db" value="SQL"></parameter>
        <!-- В теге class указываем классы, в которых хотим запустить все тесты -->
        <classes>
            <class name="Smoke.Test1"></class>
        </classes>
    </test>
    <test name="test 2">
        <!-- В тегах groups, run, include указываем необходимую группу тестов -->
        <groups>
            <run>
                <include name="regress"/>
            </run>
        </groups>
        <!-- В теге указываем пакеты с тестами, которые хотим запустить -->
        <packages>
            <package name="Smoke"></package>
        </packages>
    </test>

</suite>